webdriver {
  driver = chrome
  base.url = "http://localhost:3000"  # URL de tu app React
}

environments {
  default {
    webdriver.base.url = "http://localhost:3000"
  }
}

serenity {
  project.name = "Pruebas webPage"
  test.root = "java"                # Paquete donde están los Steps
  requirements.dir = "features/ui"   # Ruta de los features
}

webdriver.driver=chrome
# Para ver el navegador (NO headless)
chrome.switches=--start-maximized
serenity.take.screenshots=FOR_EACH_ACTION
serenity.outputDirectory=target/site/serenity